<% if flash[:error] %>
  <div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
<% end %>

<%= form_for(@offer) do |f| %>
  <div class="form-group">
    <%= f.label 'Nome da oferta (*)' %><br>
    <%= f.text_field :advertiser_name, class: "form-control" %><br>
  </div>
  <div class="form-group">
    <%= f.label 'Link (*)' %><br>
    <%= f.text_field :url, class: "form-control" %><br>
  </div>
  <div class="form-group">
    <%= f.label 'Descrição (*)' %><br>
    <%= f.text_area :description, class: "form-control" %><br>
  </div>
    <div class="form-group">
    <%= f.label 'Data de ativação (*)' %><br>
    <%= f.date_field :active_from, :id => "datepicker" %>
  </div>
  <div class="form-group">
    <%= f.label 'Data de encerramento'%><br>
    <%= f.date_field :active_until, :id => "datepicker" %>
  </div>
  <div class="form-check">
    <%= f.check_box :premium, value: true,class: "form-check-input" %>
    <%= f.label "Premium", class: "form-check-label" %>
  </div>
  <div class="form-check form-check-inline">
    <%= f.radio_button :status, :enabled,  class: "form-check-input" %>
    <%= f.label "Ativo", class: "form-check-label" %>
  </div>
  <div class="form-check form-check-inline">
    <%= f.radio_button :status, :disabled, class: "form-check-input", value: :disabled %>
    <%= f.label "Inativo", class: "form-check-label" %>
  </div>

  <div>
    <%= f.submit "Salvar alteração", class: "btn btn-success my-3 mr-3 float-left" %>
  </div>
<% end %>

<div class="clearfix">
  <%= button_to "Voltar ao início", offers_path, method: :get, class: "btn btn-secondary my-3 mr-3 float-left" %>
  <%= button_to "Remover oferta", @offer, :method => :delete, data: {confirm: 'Deseja continuar?'}, class: "btn btn-danger my-3 float-left" %>
</div>

