<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= button_to "Criar nova oferta", new_offer_path, method: :get, class: 'btn btn-primary float-right m-3' %>

<% if @offers.present? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nome do anúncio</th>
        <th scope="col">Link</th>
        <th scope="col">Descrição</th>
        <th scope="col">Data de ativacão</th>
        <th scope="col">Data de encerramento</th>
        <th scope="col">Premium</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @offers.each do |offer| %>
        <tr class="table-row" data-href="<%= edit_offer_path(offer.id) %>">
          <td><%= offer.advertiser_name %></th>
          <td><%= offer.url %></td>
          <td><%= offer.description %></td>
          <td><%= start_date(offer.active_from) %></td>
          <td><%= has_end_date?(offer.active_until) %></td>
          <td><%= offer_premium?(offer.premium) %></td>
          <td><%= current_status(offer.status) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= "Não existem ofertas." %></p>
<% end %>

