<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1>OFFERS LIST</h1>

<h3>All offers</h3>
<ul>
  <% if @offers.present? %>.
    <% @offers.each do |offer| %>
      <li><%= link_to offer.advertiser_name, offer_path(offer.id) %></li>
      <li><%= offer.active_from %></li>
      <li><%= offer.active_until %></li>
    <% end %>
  <% end %>
</ul>

<%= button_to "Create Offers", new_offer_path, method: :get %>


